html, body {
  height: 100%;
  margin: 0; }

.challenger-demo {
  height: 100%; }
  .challenger-demo .space-filler {
    height: 100%;
    margin-bottom: 84px; }
  .challenger-demo, .challenger-demo button {
    font-family: Lato, Helvetica, 'Helvetica Neue', Arial, sans-serif;
    color: #333; }
  .challenger-demo a {
    color: #f37046; }
  .challenger-demo pre, .challenger-demo code {
    font-family: Inconsolata, monospace; }
  .challenger-demo code {
    margin: 0 0.12em; }
  .challenger-demo pre > code {
    line-height: 24px;
    margin: 0;
    padding: 12px 18px;
    font-size: 18px; }
  .challenger-demo header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 48px;
    background: #ffb300; }
    .challenger-demo header h1, .challenger-demo header p {
      text-align: center; }
    .challenger-demo header h1 {
      margin-top: 0;
      font-size: 60px; }
    .challenger-demo header, .challenger-demo header button {
      color: #fff; }
    .challenger-demo header ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .challenger-demo header ul li {
        display: inline-block; }
  .challenger-demo p {
    line-height: 1.5em;
    font-size: 24px; }
  .challenger-demo .demos {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 48px;
    text-align: center;
    background: #ffb300;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .challenger-demo .demos li {
      margin: 1.6em 3em; }
    .challenger-demo .demos .try {
      position: absolute;
      right: 50%;
      top: 40px;
      margin: 0;
      text-transform: uppercase;
      -webkit-transform: translate(-398px);
          -ms-transform: translate(-398px);
              transform: translate(-398px); }
      .challenger-demo .demos .try p {
        line-height: 1.2em;
        margin: 0;
        font-size: 48px; }
    .challenger-demo .demos .small {
      display: block;
      font-size: 0.5em;
      text-transform: lowercase; }
  .challenger-demo button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    cursor: pointer; }
    .challenger-demo button p {
      text-transform: lowercase; }
  .challenger-demo nav {
    position: absolute;
    bottom: 0;
    height: 96px;
    line-height: 96px;
    width: 100%;
    background: #f37046;
    -webkit-transition: height 0.4s, line-height 0.4s;
            transition: height 0.4s, line-height 0.4s; }
    .challenger-demo nav ul {
      height: 100%;
      margin: 0 16%;
      text-align: justify; }
      .challenger-demo nav ul:after {
        content: '';
        display: inline-block;
        width: 100%; }
    .challenger-demo nav li {
      position: relative;
      text-transform: uppercase; }
    .challenger-demo nav a {
      font-size: 30px;
      text-decoration: none;
      color: #fff; }
      .challenger-demo nav a::before, .challenger-demo nav a::after {
        content: '';
        position: absolute;
        bottom: 28px;
        height: 3px;
        width: 0px;
        background: #fff;
        -webkit-transition: width 0.4s;
                transition: width 0.4s; }
      .challenger-demo nav a::before {
        left: 50%; }
      .challenger-demo nav a::after {
        right: 50%; }
      .challenger-demo nav a:hover::before, .challenger-demo nav a:hover::after {
        width: 50%; }
  .challenger-demo h2 {
    margin: -96px 0 0;
    padding: 1em 0;
    border-top: 96px solid transparent;
    background-clip: padding-box;
    font-size: 48px;
    text-align: center; }
  .challenger-demo h3 {
    margin: 2em 0;
    font-size: 30px;
    text-align: center; }
  .challenger-demo h2 + h3 {
    margin-top: 0; }
  .challenger-demo .section {
    width: 76%;
    max-width: 840px;
    margin: 0 auto; }
  .sticky .challenger-demo header {
    bottom: 96px; }
  .sticky .challenger-demo nav {
    position: fixed;
    top: 0; }
  .squished .challenger-demo nav {
    height: 48px;
    line-height: 48px; }
    .squished .challenger-demo nav a::before, .squished .challenger-demo nav a::after {
      bottom: 9px; }
  .challenger-demo .browser-support {
    width: 100%;
    table-layout: fixed;
    font-weight: bold;
    text-align: center; }
    .challenger-demo .browser-support img {
      height: 72px;
      width: 72px; }
    .challenger-demo .browser-support .mobile-safari {
      height: 36px;
      width: 36px; }
  .challenger-demo footer {
    margin-top: 84px;
    padding: 24px 0;
    text-align: center;
    color: white;
    background: #664dab; }

@media screen and (max-width: 1400px) {
  .challenger-demo .demos {
    -webkit-transform: translate(0, -20%);
        -ms-transform: translate(0, -20%);
            transform: translate(0, -20%); }
    .challenger-demo .demos .try {
      top: -60%;
      right: 50%;
      -webkit-transform: translate(50%);
          -ms-transform: translate(50%);
              transform: translate(50%); } }

@media screen and (max-width: 720px) {
  .challenger-demo header p {
    width: 320px;
    margin-left: auto;
    margin-right: auto; }
  .challenger-demo nav a {
    font-size: 18px; }
  .challenger-demo nav ul {
    margin: 0 24px; }
  .challenger-demo .demos {
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .challenger-demo .demos .try {
      display: none; }
    .challenger-demo .demos li {
      margin: 1.6em 0; }
    .challenger-demo .demos img {
      height: 72px;
      width: 72px; }
    .challenger-demo .demos p {
      font-size: 18px; } }
