.challenger
  .challenge-enter
    left: 150%

    &.challenge-enter-active
      left: 50% // resting state
      transition: left 1s

  .challenge-leave
    left: 50% // resting state

    &.challenge-leave-active
      left: -50%
      transition: left 1s

@media screen and (max-width: $wshift)
  .challenger
    .challenge-enter
      left: 100%

      &.challenge-enter-active
        left: 0 // resting state

    .challenge-leave
      left: 0 // resting state

      &.challenge-leave-active
        left: -100%
