@import 'typography'

// colors
$ctext: #212121

$csuccess: #1de9b6
$csuccess-dark: darken($csuccess, 25%)

$cfailure: #ff7043
$cfailure-dark: darken($cfailure, 30%)

$cdisabled: #ccced8
$cdisabled-darkish: darken($cdisabled, 6%)
$cdisabled-dark: darken($cdisabled, 30%)

// widths
$wshift: 920px
